<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDD Development</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <div class="nav-left">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
            </div>
            <div class="nav-right">
                <li><a href="/upload">File Data</a></li>
                <li><a href="/user_input">User Query</a></li>
            </div>
        </ul>
    </nav>
    <div class="mid-body">
        <h1>Project SDD Development from SRD</h1>
        <p>genAI Software Design Document project.</p>
    </div>

    <script src="/static/js/script.js"></script> <!-- Link to JS -->
</body>
</html>